@using DiseaseConfirmer.Common
@model DiseaseConfirmer.Web.ViewModels.Categories.CategoryViewModel

@{ var name = this.User.Identity.Name;}

@{
    this.ViewData["Title"] = "Diseases";
}
<div class="text-center">
    <h1 class="display-4">
        @Model.Name
        @if (this.User.IsInRole(GlobalConstants.DoctorRoleName))
        {
            <a id="floatRight" href="@Model.AddDiseaseButtonUrl" class="btn btn-secondary btn-sm">Add Disease</a>
        }
    </h1>
    <p><i class="fas fa-info"></i> @Model.Description</p>
</div>

<div>
        @foreach (var disease in Model.Diseases)
        {
            <button id="accordion" class="accordion">@disease.Name</button>
            <div class="panel" style="display:none">
                <p><i class="fas fa-info"></i> @disease.Description</p>
                <h5><strong>Symptoms:</strong></h5>
                <p>@disease.Symptoms</p>
                <h5><strong>Cause:</strong></h5>
                <p>@disease.Cause</p>
                <h5><strong>Тreatment:</strong></h5>
                <p>@disease.Тreatment</p>
                <div class="text-muted small ml-3">
                    <form id="votesForm" method="post"></form>
                    <div>
                        <a href="#" onclick="sendVote(@disease.Id, true)">
                            <i class="fa fa-thumbs-up"></i>
                        </a>
                    </div>
                    <div id="@disease.Id" >@disease.VotesCount</div>
                    <div>
                        <a href="#" onclick="sendVote(@disease.Id, false)">
                            <i class="fa fa-thumbs-down"></i>
                        </a>
                    </div>
                </div>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a id="floatRight" asp-controller="Diseases" asp-action="Delete" asp-route-id="@disease.Id" class="btn btn-danger btn-sm">Delete Disease</a>
                }
                @if (this.User.IsInRole(GlobalConstants.DoctorRoleName))
                {
                    <a id="floatRight" asp-area="Doctors" asp-controller="Diseases" asp-action="Edit" asp-route-id="@disease.Id" class="btn btn-secondary">Edit</a>
                }
            </div>
        }
</div>

<script>
    function sendVote(diseaseId, isUpVote) {
        var token = $("#votesForm input[name=__RequestVerificationToken]").val();
        var json = { diseaseId: diseaseId, isUpVote: isUpVote };
        $.ajax({
            url: "/api/votes",
            type: "POST",
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { 'X-CSRF-TOKEN': token },
            success: function (data) {
                var id = "#" + diseaseId;
               $(id).html(data.votesCount);
            }
        });
    }
</script>


