@using DiseaseConfirmer.Common
@model DiseaseConfirmer.Web.ViewModels.Inquiries.InquiriesViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Review Your Inquiries!<a href="/Inquiries/Add" class="btn btn-secondary btn-sm">Create Inquiry</a></h1>

    @Html.Partial("_DisplayInquiriesPartial", Model)

</div>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link" asp-action="AllById" asp-route-page="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (int i = this.Model.CurrentPage - 2; i <= this.Model.CurrentPage + 2; i++)
        {
            @if (i > 0 && i <= this.Model.PagesCount)
            {
                var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                <li class="page-item @active">
                    <a class="page-link"
                       asp-controller="Inquiries"
                       asp-action="AllById"
                       asp-route-page="@i">@i</a>
                </li>
            }
        }
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link" asp-action="AllById" asp-route-page="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>
