@using DiseaseConfirmer.Common
@model DiseaseConfirmer.Web.ViewModels.Inquiries.InquiryViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p><i class="far fa-calendar-alt"></i>@Model.CreatedOn</p>
    <p>@Model.Heading</p>
    <p>@Model.Symptoms</p>
    <p>@Model.DetailedInformation</p>
    <p><i class="fas fa-user"></i>@Model.UserUserName</p>
</div>